{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <article class="user-article">
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.nickname }}</h5>
                <p class="card-text">joined us in {{ user.inscriptionDate }}.</p>
                <p>{{ user.email }} ({{ user.isVerified ? 'Verified' : 'Not verified yet' }})</p>
                <a href="{{ path('app_user_followers') }}">Followers : {{ user.followers|length }}</a>
                <a href="{{ path('app_user_followings') }}">Following : {{ user.following|length }}</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit your profile</a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5>Bio :</h5>
                <p>{{ user.biography }}</p>
            </div>
        </div>
    </article>
    <aside class="user-aside">
        {% for subject in user.subjects %}
            <section class="profile-section">

                <h3>{{ subject }}</h3>
                <p>{{ subject.category }}</p>
                <p>{{ subject.creationDate }}</p>

                <ul>
                    {% for image in subject.images %}
                        <li>
                            <img src="{{ asset('uploads/images/userimage/') }}{{ image }}" alt="{{ image }}">
                        </li>
                    {% endfor %}
                </ul>
                <p>{{ subject.comments|length }} comments</p>

                <a href="{{ path('app_subject_show', {'id': subject.id}) }}">show</a>

            </section>
        {% else %}
            <p>You didn't create any subjects</p>
        {% endfor %}
    </article>
{% endblock %}