{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block categories %}
<ul class="second-header-ul">
    {% for category in categories %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="header-category">{{ category }}</a>
    {% endfor %}
</ul>
{% endblock %}
{% block body %}

    <article class="user-article">
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ app.user.nickname }}</h5>
                <p class="card-text">joined us in {{ app.user.inscriptionDate }}.</p>
                <p>{{ app.user.email }} ({{ app.user.isVerified ? 'Verified' : 'Not verified yet' }})</p>
                <div class="profile-more">
                    <p>Followers : {{ app.user.followers|length }}</p>
                    <p>Following : {{ app.user.following|length }}</p>
                    <a href="{{ path('app_security_profile') }}" class="btn btn-primary profile-btn">View your profile</a>
                    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="btn btn-warning profile-btn">Edit your profile</a>
                </div>
            </div>
        </div>
        {% if app.user.biography %}
            <div class="card profile-card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Bio :</h5>
                    <p>{{ app.user.biography }}</p>
                </div>
            </div>
        {% endif %}
        <div class="card profile-card" style="width: 18rem;">
            <a href="{{ path('app_subject_new') }}" class="btn btn-primary">Create new Subject</a>
        </div>
    </article>
    <aside>
        {% for subject in subjects %}
            <section class="container">
                <h1>{{ subject }}</h1>
                <p>{{ subject.category }}</p>
                <h4>Created by {{ subject.user }}</h4>
                <p>{{ subject.creationDate }}</p>

                <ul class="img-block">
                    {% for image in subject.images %}
                        <li>
                            <img src="{{ asset('uploads/images/userimage/') }}{{ image }}" alt="{{ image }}">
                        </li>
                        
                    {% endfor %}
                </ul>
                <p>{{ subject.comments|length }} comments</p>

                <a href="{{ path('app_subject_show', {'id': subject.id}) }}">show</a>

                {% if app.user.id == subject.user.id %}
                
                    <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

                    
                    {{ include('subject/_delete_form.html.twig') }}
                {% endif %}
            </section>
        {% else %}
            <td colspan="4">no records found</td>
        {% endfor %}
    </aside>

{% endblock %}
