{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block searchtype %}
    <nav class="search-nav">
        {{ form_start(form) }}
            <div class="input-group mb-3">
                {{ form_widget(form.keywords) }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        {{ form_end(form) }}
    </nav>
{% endblock %}

{% block body %}

    
    <article class="user-article">
        <h1>Users :</h1>
        {% for user in users %}
            {% if user != app.user %}
                <div class="card profile-card list-users" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.nickname }}</a></h5>
                        <p class="card-text">joined us in {{ user.inscriptionDate }}.</p>
                        
                        {% if user.followers.contains(app.user) %}
                            <a href="{{ path('app_user_unfollow', {id: user.id}) }}" class="btn btn-primary follow-user">Unfollow</a>
                        {% else %}
                            <a href="{{ path('app_user_follow', {id: user.id}) }}" class="btn btn-primary follow-user">Follow</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </article>
    <aside>
        <h2>Subjects :</h2>
        {% for subject in subjects %}
            {% if subject.user != app.user %}
                <section>
                    <h3>{{ subject }}</h3>
                    <p>{{ subject.category }}</p>
                    <h4>Created by {{ subject.user }}</h4>
                    <p>{{ subject.creationDate }}</p>

                    <ul>
                        {% for image in subject.images %}
                            <li>
                                <img src="{{ asset('uploads/images/userimage/') }}{{ image }}" alt="{{ image }}">
                            </li>
                            
                        {% endfor %}
                    </ul>
                    <p>{{ subject.comments|length }} comments</p>

                    <a href="{{ path('app_subject_show', {'id': subject.id}) }}">show</a>

                    {% if app.user.id == subject.user.id %}
                    
                        <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

                        
                        {{ include('subject/_delete_form.html.twig') }}
                    {% endif %}
                </section>
            {% endif %}
        {% else %}
            <td colspan="4">no records found</td>
        {% endfor %}
            
    </aside>

{% endblock %}
