{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block bodystyle %}
    style="
            background: url({{ asset('/uploads/images/siteimage/background-photo.jpeg') }});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        "
{% endblock %}
{% block body %}
    <section class="register login">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nickname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.captcha) }}
            {{ form_errors(registrationForm.captcha) }}

            <button type="submit" class="btn btn-dark">Register</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
