{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}

    {% for image in form.images %}
        <li>
            {{ form_errors(image) }}
            {{ form_widget(image) }}
        </li>
    {% endfor %}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
