{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>{{ subject }}</h1>
    <p>{{ subject.category }}</p>
    <h4>Created by {{ subject.user }}</h4>
    <p>{{ subject.creationDate }}</p>

    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        {% for image in subject.images %}
            <li class="slide-container">
                <div class="slide">
                    <img src="{{ asset('uploads/images/userimage/') }}{{ image }}" alt="{{ image }}">
                </div>
                <div class="nav">
                    <label for="img-6" class="prev">&#x2039;</label>
                    <label for="img-2" class="next">&#x203a;</label>
                </div>
            </li>

            <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            </li>
            
        {% endfor %}
    </ul>
    <p>{{ subject.likedBy|length }} likes, {{ subject.comments|length }} comments</p>
    {% if subject.likedBy.contains(app.user) %}
        <a href="{{ path('app_subject_unliked', {id: subject.id}) }}">unlike</a>
    {% else %}
        <a href="{{ path('app_subject_liked', {id: subject.id}) }}">like</a>
    {% endif %}

    <h2>COMMENTS</h2>
    {% for comment in subject.comments %}
        <p>{{ comment }}</p>
    {% endfor %}

    {{ form_start(formComment) }}
        {{ form_widget(formComment.text) }}
        <button type="submit">Send</button>
    {{ form_end(formComment) }}


    <a href="{{ path('app_subject_index') }}">back to list</a>

    {% if app.user.id == subject.user.id %}
    
        <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

        
        {{ include('subject/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
