{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>{{ subject }}</h1>
    <p>{{ subject.category }}</p>
    <h4>Created by {{ subject.user }}</h4>
    <p>{{ subject.creationDate }}</p>

    {% for image in subject.images %}
        <p>{{ image }}</p>
    {% endfor %}

    <h2>COMMENTS</h2>
    {% for comment in subject.comments %}
        <p>{{ comment }}</p>
    {% endfor %}

    <a href="{{ path('app_subject_index') }}">back to list</a>

    {% if app.user.id == subject.user.id %}
    
        <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

        
        {{ include('subject/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
