{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <article class="user-article">
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.nickname }}</h5>
                <p class="card-text">joined us in {{ user.inscriptionDate }}.</p>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info profile-btn">Back to profile</a>
                <a href="{{ path('app_user_followings', {'id': user.id}) }}" class="btn btn-info profile-btn">Following : {{ user.following|length }}</a>
            </div>
        </div>
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5>Bio :</h5>
                <p>{{ user.biography }}</p>
            </div>
        </div>
    </article>

    <aside class="user-aside">
        <section class="profile-section">
            
            <h1>They have exactly {{ user.followers|length }}
                {% if user.followers|length == 1 %}
                    follower :
                {% elseif user.followers|length > 1 %}
                    followers :
                {% endif %}
            </h1>
            {% for follower in user.followers %}
    
                <a href="{{ path('app_user_show', {'id': follower.id}) }}">{{ follower }}</a>
                <br>
    
            {% else %}
                <p>You don't have any followers</p>
            {% endfor %}
        </section>
    </aside>

{% endblock %}