{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <article class="user-article">
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.nickname }}</h5>
                <p class="card-text">joined us in {{ user.inscriptionDate }}.</p>
                <a href="{{ path('app_user_followers', {'id': user.id}) }}" class="btn btn-info profile-btn">Followers : {{ user.followers|length }}</a>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info profile-btn">Back to profile</a>
            </div>
        </div>
        <div class="card profile-card" style="width: 18rem;">
            <div class="card-body">
                <h5>Bio :</h5>
                <p>{{ user.biography }}</p>
            </div>
        </div>
    </article>

    <aside class="user-aside">
        <section class="profile-section">
            
            <h1>
                They followed exactly {{ user.following|length }}  
                {% if user.following|length == 1 %}
                    person
                {% elseif user.following|length > 1 %}
                    persons
                {% endif %}
                :
            </h1>
            {% for followed in user.following %}
    
                <a href="{{ path('app_user_show', {'id': followed.id}) }}">{{ followed }}</a>
                <br>
    
            {% else %}
                <p>You've followed no one yet</p>
            {% endfor %}
        </section>
    </aside>

{% endblock %}